@(editableDisc: Disc, discForm: Form[String])(implicit flash: play.api.mvc.Flash)

@import helper._
@import helper.twitterBootstrap._




    <h2>Edit disc</h2>

    <!-- //TODO editAction needs to be created (here only fill of editform is called again) -->
    @form(routes.Application.editDisc(editableDisc.id, editableDisc.rev, editableDisc.title)) {

        <fieldset>

            @inputText(discForm("title").copy(value=Some(editableDisc.title)), 'id -> "editTitle", '_label -> "Disc title")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save" class="btn primary"> or
            <button type="button" class="btn btn-default">
            <a href="@routes.Application.discs()">Cancel</a>
            </button>
        </div>

    }

    <!-- //TODO needs to be removed and only added on tab via jquery -->
    @form(routes.Application.couchDeleteDisc(editableDisc.id, editableDisc.rev), 'class -> "topRight") {
        <input type="submit" value="Delete" class="btn danger">
    }



