@(discs: List[Disc], discForm: Form[String], filterValue: String)(implicit flash: play.api.mvc.Flash)

@import helper._
@import helper.twitterBootstrap._

@title = {
    Laser DB
}

@main(title, nav = "index") {
    @flash.get("success").map { message =>
        <div class="alert alert-success" role="alert">
            <strong>Done!</strong> @message
        </div>
    }
    @flash.get("error").map { message =>
        <div class="alert alert-danger" role="alert">
            <strong>Done!</strong> @message
        </div>
    }


    <h1>@discs.size disc(s)</h1>

	<div id="tableActions">
		@helper.form(action=routes.Application.discs()) {
			<input type="search" id="searchbox" class="filter" name="filterBox" value="@filterValue" placeholder="Searchtext...">
			<input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
		}
	</div>

	<table id="discTable" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Title</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="discTableBody">
		@discs.map { disc => 
			<tr>
				<td>@disc.title</td>

				<td class="col-sm-2">@form(routes.Application.couchDeleteDisc(disc.id, disc.rev)) {
					<input type="submit" value="Delete">
				}</td>
			</tr>
		}
		</tbody>
	</table>

	<h2>Add new disc</h2>

	@form(routes.Application.newDisc) {

		@inputText(discForm("title"))

		<input type="submit" value="Create">
	}
}



