@(discs: List[Disc], discForm: Form[String], filterValue: String) 

@import helper._
@import helper.twitterBootstrap._

@title = {
    Laser DB
}

@main(title, nav = "index") {

	<h1>@discs.size disc(s)</h1>

	<div id="tableActions">
		@helper.form(action=routes.Application.discs()) {
			<input type="search" id="searchbox" name="filterBox" value="@filterValue" placeholder="Searchtext...">
			<input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
		}
	</div>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Title</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		@discs.map { disc => 
			<tr>
				<td>@disc.label</td>

				<td class="col-sm-2">@form(routes.Application.deleteDisc(disc.id)) {
					<input type="submit" value="Delete">
				}</td>
			</tr>
		}
		</tbody>
	</table>

	<h2>Add new disc</h2>

	@form(routes.Application.newDisc) {

		@inputText(discForm("label"))

		<input type="submit" value="Create">
	}
}
